In [1]:
e={9,8,7,"ab",78,7,7,9,8}
print (type(e))
print("e=",e)
print("nbre element",len(e))

<class 'set'>
e= {'ab', 7, 8, 9, 78}
nbre element 5

In [4]:
e2=set("ensemble")
print ("e2 = ",e2)
e_copy=e2.copy()
print (e_copy)
e3=e

e2 =  {'s', 'b', 'm', 'l', 'e', 'n'}
{'s', 'b', 'e', 'm', 'n', 'l'}

In [35]:
d_voitures={"toyota":25000,"honda":15000}
d_voitures.update({"vw":15561,"bmw":59889})
print(d_voitures)
d_voitures["ford"]=98744
print(d_voitures)
d_voitures["toyota"]=12000
print(d_voitures)
print(d_voitures.keys())
print(list(d_voitures.keys()))
print(d_voitures.values())
print(d_voitures.items())
print(list(d_voitures.items()))
d={"cat":100,"dog":50,"hamster":20}
print(sorted(d.values()))
print("chat"in d )
print("bird" not in d )
print(d_voitures.get("jeep"))
print(d_voitures.get("jeep","n'existe pas"))
del(d_voitures["toyota"])
print(d_voitures)
print(d_voitures.pop("vw"))
for x,v in d_voitures.items():
    print ("la prix de la voitures {} est {}".format(x,v))
for x in d_voitures.items():
    print ("la prix de la voitures {} est {}".format(x[0],x[1]))
for c in d_voitures: 
#ou bien le d_voiture.keys()
    print (c,end='::')

{'toyota': 25000, 'honda': 15000, 'vw': 15561, 'bmw': 59889}
{'toyota': 25000, 'honda': 15000, 'vw': 15561, 'bmw': 59889, 'ford': 98744}
{'toyota': 12000, 'honda': 15000, 'vw': 15561, 'bmw': 59889, 'ford': 98744}
dict_keys(['toyota', 'honda', 'vw', 'bmw', 'ford'])
['toyota', 'honda', 'vw', 'bmw', 'ford']
dict_values([12000, 15000, 15561, 59889, 98744])
dict_items([('toyota', 12000), ('honda', 15000), ('vw', 15561), ('bmw', 59889), ('ford', 98744)])
[('toyota', 12000), ('honda', 15000), ('vw', 15561), ('bmw', 59889), ('ford', 98744)]
[20, 50, 100]
False
True
None
n'existe pas
{'honda': 15000, 'vw': 15561, 'bmw': 59889, 'ford': 98744}
15561
la prix de la voitures honda est 15000
la prix de la voitures bmw est 59889
la prix de la voitures ford est 98744
la prix de la voitures honda est 15000
la prix de la voitures bmw est 59889
la prix de la voitures ford est 98744
honda::bmw::ford::